#outer-large {
    display: flex;
    flex-direction: row;

    height: 80vh;
    padding: 30px;
}
#text-large {
    height: 100%;
    width: 50vw;
    padding: 0;
    padding-right: 30px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#moral-appeal-button {
    margin-top: 30px;
}
.moral-image-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vw;
}
.moral-image-side img {
    width: 100% !important;
    height: 100% !important;
    
    border-radius: 20px !important;
}
@media screen and (min-width: 1000px) {
    #text-large {
        padding: 60px;
    }
}