#outer-row {
    height: 100vh;

    display: flex;
    flex-direction: row;

    background-color: white;
}

#outer-text-col {
    padding: 0;

    background-image: url('https://images.pexels.com/photos/4113889/pexels-photo-4113889.jpeg');
    background-size: cover;
}

#mask {
    background-color: rgba(123, 117, 52, 0.15);

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: calc(50vh - 28px);
}

#mask h1 {
    color: #fbf8f8;
    font-size: 28px;
}

#cards-image {
    object-fit: cover;

    height: 100vh;
}

.text-col {
    color: #fbf8f8;
    align-items: left;
    padding: 0;
    justify-content: left !important;
    text-align: left !important;
}

.text-col h1 {
    font-family: 'Marmelad', serif;
    margin-bottom: 30px;
}

.text-col p {
    font-family: 'Syne', sans-serif;
}

.text-row {
    display: flex;
    flex-direction: column !important;
    height: 100%;
    width: 50%;
}

.new-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: fit-content;
    padding: 30px;

    background-color: #fbf8f8;
}

.newcard {
    width: 50vw;
    height: calc((100vh - 120px) / 4);
    border-radius: 10px;
    color: white;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card-front, .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

    padding: 30px;

    border-radius: 10px;
}

.card-front {
    background-color: #2A3C2C;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-back {
    background-color: #2A3C2C;
    transform: rotateX(180deg);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #outer-row {
        flex-direction: column;
        height: 200vh;
    }
    .newcard {
        width: 100%;
        height: calc((100vh - 120px) / 4);
    }
}

@media screen and (min-width: 768px) {
    #mask h1 {
        font-size: 36px;
    }
}

@media screen and (min-width: 1000px) {
    #mask {
        padding: 50px;
    }
    #mask h1 {
        font-size: 40px;
    }
}

@media screen and (min-width: 2000px) {
    #mask h1 {
        font-size: 38px;
    }
}