img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.moral-appeal-outer {
    height: 100vh;

    background-color: #2A3C2C;
}

.moral-appeal-text {
    padding: 30px;
}

.moral-appeal-text h1 {
    color: #F6E966;
    font-family: "Marmelad";

    margin-bottom: 3vh;
}

#moral-appeal-img {
    width: 100%;
    height: 50vh;
    border-radius: 0;
}

#moral-appeal-button {
    background-color: #F6E966 !important;
    color: black;
    border-radius: 5px;
}

#moral-appeal-button:hover {
    background-color:#2A3C2C !important;
    color: white;
}

@media screen and (min-width: 500px) {
    .moral-appeal-text {
        padding-top: 10vh;
    }
}

@media screen and (min-width: 1000px) {
    #moral-appeal-button {
        font-size: 28px;
        margin-top: 30px;
        border-radius: 10px;
    }
    .moral-appeal-text {
        padding: 80px;
        padding-top: 50px;
    }
}