.top {
    position: relative;
    height: 75vh;
    background-image: url('https://images.pexels.com/photos/6508570/pexels-photo-6508570.jpeg');
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    z-index: 0;
}

.about-mask {
    background-color: rgba(0, 0, 0, 0.15);
    height: 75vh;
    z-index: 1;
}

.top-logo {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    z-index: 2;
}

.top h1 {
    color: white;
    z-index: 2;
}

@media screen and (min-width: 2000px) {
    .top-logo {
        width: 300px;
        height: 300px;
    }

    .top h1 {
        font-size: 48px;
    }
}