.menu-promotion {
    height: 80vh;
    background-color: #024958;

    text-align: center;

    padding: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.menu-promotion h1 {
    font-size: 18px;
    color: white;
    font-family: 'Syne';
}