.menu {
    padding-top: 65px;
}
.col {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col a {
    text-decoration: none;
    font-family: 'Lavishly Yours', serif;
    transition-duration: 0.2s;

}
#mask {
    background-color: rgba(0, 0, 0, 0.3);
}
#spring {
    border-bottom: white solid 1.5px;
    border-right: white solid 1.5px;
}
#spring a {
    color: #FFCFCF;
}
#spring a:hover {
    text-shadow: #F72C5B 1px 0 20px;
}
#summer {
    border-bottom: white solid 1.5px;
}
#summer a {
    color: #FADA7A;
}
#summer a:hover {
    text-shadow: #FADA7A 1px 0 20px;
}
#autumn {
    border-right: white solid 1.5px;
}
#autumn a {
    color: #ECDFCC;
}
#autumn a:hover {
    text-shadow: #FFF8E8 1px 0 20px;
}
#winter a {
    color: white;
}
#winter a:hover {
    text-shadow: #79D7BE 1px 0 20px;
}