.menu {
    padding-top: 65px;
}
.col {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col a {
    text-decoration: none;
}
#spring {
    border-bottom: black solid 1.5px;
    border-right: black solid 1.5px;
}
#summer {
    border-bottom: black solid 1.5px;
}
#autumn {
    border-right: black solid 1.5px;
}