.hero-background {
    height: 100vh;

    background-image: url("https://images.pexels.com/photos/325944/pexels-photo-325944.jpeg");
    background-size: cover;
}

.hero-background .hero-mask {
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-background .hero-img {
    width: 180px;
    height: 180px;
}

.hero-background .hero-inner {
    display: block;
    color: white;
}

.hero-inner h1 {
    margin-top: 30px;
    position: absolute;
    right: -100vw;

    font-size: 21px;
    text-align: center;
}

.hero-inner button {
    position: absolute;
    bottom: 150px;
    left: 0;

    margin-top: 30px;
}

.hero-img {
    position: absolute;
    left: -180px;
    top: 20vh;
}

@media screen and (min-width: 678px) {

    .hero-img {
        top: 10vh;
    }

    .hero-inner h1 {
        top: 40vh;
        font-size: 40px;
    }
}

@media screen and (min-width: 1500px) {
    .hero-inner h1 {
        font-size: 50px;
    }
}