#navbar {
    background-color: #508D4E !important;
    font-family: 'Marmelad';  
}

#navbar-logo {
    object-fit: contain;
    height: 40px;
    width: 100px;
}

.navbar-button {
    background-color: #F6E966 !important;
    color: black !important;

    margin-left: 10px;
}

.navbar-button:hover {
    background-color: #2A3C2C !important;
    color: white !important;
}

.nav {
    gap: 30px;
}