.menu-cards {
    width: 100vw;
    height: 100vh;
    
    background-color: #024958;

    display: flex;
    flex-direction: column;
    gap: 50px;

    padding: 70px;
    margin-top: 50px
}
.menu-cards-row {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 50px;
}
.menu-card {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fbf8f8;

    border-radius: 20px;
}
.menu-card h1 {
    font-family: "Lavishly Yours", cursive;
    font-size: 50px;
    color: black;
}

#spring {
    background-image: url('https://images.pexels.com/photos/24246432/pexels-photo-24246432/free-photo-of-close-up-of-a-rose.jpeg');
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .menu-cards-row {
        flex-direction: column;
        gap: 20px;
    }
    .menu-cards {
        gap: 20px;
    }
}