.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar-center {
    flex: 80%;
    justify-content: left;
}

.navbar-center a {
    color: #2A3C2C;
    text-decoration: none;
}

.navbar-center .nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

.navbar-right {
    flex: 20%;
    text-align: right;
    padding: 16px 10vw;
}